$roboto: 'Roboto', sans-serif !default;
$title-font: 'Bevan', cursive;

$contrast: #303036;

$primary-color: #323232;
$secondary-color: #295F4E;
$third-color: #6DB193;
$forth-color: #F4E5C2;
$offWhite: #F8F8F8;
$background: $offWhite;
$link: #C54321;
